* {
	color: #808080;
}
body {
	background-image: url(http://content.chupamobile.com/user-upload2/product-image-screenshot/Kt9JZSjh84SuZQtOptFd3xQj_3_bg3.png);
	background-size: cover;
	background-repeat: no-repeat;;
}

#container {
	width:400px;
	margin:0 auto;
	overflow:hidden;
}
h1 {
	color:#0029FF;
	padding-left: 70px;
}
.vs {
	width: 160px;
	height: 30px;
	background-color: #0B65B6;
	color: white;
	border: 2px solid black;
	border-radius: 20%
}
.play1Invisible {
	visibility: hidden;
}
.play2Invisible {
	visibility: hidden;	
}
table {
	
}

.square {
    width:100px;
    height:100px;
    border:2px solid grey;
    background-color: #4abacf;
	text-align: center;
	font-size: 70px;
	opacity: 0.7;
}

.newGame {
	margin-top: 20px;
	width: 160px;
	height: 30px;
	background-color: white;
	color: #0B65B6;
	border: 2px solid #0B65B6;
	border-radius: 20%;
	margin-left: 82px;
}

.winnerOneInvisible {
	visibility: hidden;
	font-size: 1.3em;
}

.winnerTwoInvisible {
	visibility: hidden;
	font-size: 1.3em;
}

.winnerOne {
	margin-left: 300px;
	font-size: 2em;
	color: red;
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    top:100%;
}
.winnerTwo {
	margin-left: 300px;
	font-size: 2em;
	color:red;
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    top:100%;
}