

* {
	color: #808080;
}
body {
	background-image: url(http://content.chupamobile.com/user-upload2/product-image-screenshot/Kt9JZSjh84SuZQtOptFd3xQj_3_bg3.png);
	background-size: cover;
	background-repeat: no-repeat;;
}

#container {
	width:400px;
	margin:0 auto;
}
h1 {
	color:#0029FF;
	padding-left: 70px;
}

.play1Invisible {
	visibility: visible;
}
.play2Invisible {
	visibility: hidden;	
}

table {
	box-sizing: border-box;
	-webkit-transition : border 500ms ease-out; 
 	-moz-transition : border 500ms ease-out;
 	-o-transition : border 500ms ease-out;
 	border: 3px solid rgba( 0, 255, 255, 1 );
 	
}

table:hover{
   border : 3px solid red;   
}


#board {
	box-sizing: border-box;
	position: relative;
}

.score1, .score2{
	text-align: center;
}

#tableScore p{
	padding: 0px 18px 0px 20px;
	color:black;
	font-weight: bold;
	width: 135px;
	font-size: 1.1em;
}

#tableScore{
	position: absolute;
	top: 70px;
	left: 450px;
	border-left: 2px dashed red;
	border-right: 2px dashed red;
}

.square {
    width:100px;
    height:100px;
    border:2px solid grey;
    background-color: #4abacf;
	text-align: center;
	font-size: 70px;
	opacity: 0.7;
	color: black;
}


.newGame {
	box-sizing: border-box;
	margin-top: 20px;
	width: 160px;
	height: 30px;
	background-color: white;
	color: #0B65B6;
	border: 2px solid #0B65B6;
	border-radius: 20%;
	margin-left: 82px;
}

.winnerOneInvisible {
	visibility: hidden;
	font-size: 1.5em;
}

.winnerTwoInvisible {
	visibility: hidden;
	font-size: 1.5em;
}

.winnerOne {
	margin-left: 400px;
	font-size: 2.5em;
	font-weight: bold;
	color: red;
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    top:100%;
}
.winnerTwo {
	margin-left: 400px;
	font-size: 2.5em;
	font-weight: bold;
	color:red;
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    top:100%;
}